/* CSS & Bootstrap */

#top-container{
	min-height: 125px;
	border: solid 1px;
}

#left-container{
	min-height: 700px;
	border: solid 1px;	
}

#right-container{
	min-height: 700px;.
	border: solid 1px;
}

#form{
	margin-top: 25%;
}

.gifButtton{
	
}